__pycache__/

# IDE files
.idea/
.vscode/


# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py
secrets.py
*.sqlite3

/builds
/cache


*.pdf

.DS_Store

advanced_booking/payment/resources/rendered_tickets/
