{% extends 'payment/base.html' %}

{% block content %}
<!--
{% load crispy_forms_tags %}

{% for ticket in tickets.all %}
<ul>
    <li>{{ ticket }} - {{ ticket.showtime }} - {{ ticket.price }}</li>
</ul>
{% endfor %}
<h1>Amount:{{ amount }}</h1>
<a href="/checkout">checkout</a>
-->
<div class="container">
    <div class="card border-0 my-5"> <!-- display card formatting-->
      <div class="card-body p-15">
            <h1>Basket</h1>
            {% for ticket in tickets.all %}
            <h5>
            <ul>
                <li>{{ ticket }} - {{ ticket.showtime }}<br></li>
            </ul>
        </h5>
            {% endfor %}
            <h2>Amount: {{ amount }}</h2>
            <a href="/checkout">checkout</a>
{% endblock %}
