{% extends 'payment/base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<!--
{% load crispy_forms_tags %}

{% for ticket in tickets.all %}
<ul>
    <li>{{ ticket }} - {{ ticket.showtime }} - {{ ticket.price }}</li>
</ul>
{% endfor %}
<h1>Amount:{{ amount }}</h1>
<a href="/checkout">checkout</a>
-->
<div class="container">
    <div class="card border-0 my-5">
        <!-- display card formatting-->
        <div class="card-body p-15">
            <h1>Basket</h1>
            <form action="" method="post">
                <div class="Quickcheckout">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <input type="submit" value="Quick Checkout" class="button">
            </form>
            <br>
            <table class="table table-dark" style="width:100%;">
                <tr>
                    <th>Movie</th>
                    <th>Time</th>
                    <th>Seat</th>
                    <th style="min-width: 125px;">Price (£)</th>
                    <th>Remove</th>
                </tr>

                {% for ticket in tickets.all %}
                <h5>
                    <ul>
                        <tr>
                            <td>
                                {{ ticket.showtime.movie }}
                            </td>
                            <td>
                                {{ ticket.showtime.time|date:"g i a" }}
                            </td>
                            <td>
                                {{ ticket.seat }}
                            </td>
                            <td>
                                {{ ticket.price }}
                            </td>
                            <td>
                                <a href="cart/remove_ticket/ticket{{ ticket.id }}">Delete </a>
                            </td>
                        </tr>
                    </ul>
                </h5>
                {% endfor %}
            </table>
            <h2>Amount: £ {{ amount }}</h2>
            {% if amount %}
            <a href="/checkout" style="display:block;width: 200px;margin-top: 10px;" class="btn btn-primary">
                Checkout</a>
            {% else %}
            <a  style="display:block;width: 200px;margin-top: 10px;" class="btn btn-primary">Checkout
            </a>
            {% endif %}
            {% endblock %}