{% extends 'payment/base.html' %}

{% block content %}

<head>
	<title>{{ title }}</title>
</head>

<body>

	<div class="card border-0 my-5" style="min-width: 700px;">
		<div class="card-body p-15" style="min-width: 700px;">

			{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<p> Amount to be payed: {{amount}} </p>
			<div class="Quickcheckout">
				<form action="{{ action }}" method="POST/GET">
					{% csrf_token %}
					{{ form }}
					<input type="submit" name="pay_by_cash_button" value="{{ buttonText }}"> </input>
				</form>
			</div>
		</div>
	</div>

</body>
{% endblock %}