{% extends 'accounting/base.html' %}

{% block content %}

</br>
</br>

<head>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawDualY);

    function drawDualY() {

      var data = google.visualization.arrayToDataTable([
          ['Date', {% for m in movie %}'{{ m }}', {% endfor %}],
          {% for d in data %}[{% for element in d%}{{ element }},{% endfor %}],
          {% endfor %}
        ]);

      var options = {
        chart: {
          title: 'Revenue from {{ start_date }} to {{ end_date }}',
          width: 1200,
          height: 800
        },
        vAxis: {
            title: 'Revenue',
            minValue: 0
          },
          
        hAxis: {
            title: 'Date',
            viewWindow: {
                min: {{ format_start_date }},
                max: {{ format_end_date }}
            }
        },
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
</head>

<div class = "container">
  <div class = "row">
    <div class = "col-lg-12">
      <h1>Revenue from {{ start_date }} to {{ end_date }}</h1>
      <form action="/accounting/compare" method="POST">
        {% csrf_token %}
        <input type="date" required name="start_date"></input>
        <input type="date" required name="end_date"></input>
        <input type="submit" value="Submit">
      </form>
      <!--Div that will hold the pie chart-->
      <div id="chart_div"></div>
      
    </div>
  </div>

{% endblock %}