<title>Home</title>
{% load static %}
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'movies/main.css' %}">
</head>

<body>
    <ul class="navbar">
        <li><a href="">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
    {% if movie %}
    <p class="movieclicked">
        {{ movie.title }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.director }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.lead_actor }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.certificate }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.duration }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.rating }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.premier_date }} </p>
    <hr>
    <p class="movieclicked"> {{ movie.blurb}} </p> {% else %}
    <p>No movies found.</p>
    </p>
    {% endif %}
</body>

</html>