<!DOCTYPE html>
<html>
<p>This is movie info page </p>

<!-- this is the datetime_form passed into html -->
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<!-- this is the movie info context, if it exits-->
{% if movie %}
{{ movie.title }}
{{ movie.director }}
{{ movie.lead_actor }}
{{ movie.certificate }}
{{ movie.duration }}
{{ movie.rating }}
{{ movie.premier_date }}
{{ movie.blurb}}

{% else %}
    <p>No movies found.</p>
{% endif %}

</html>
