{% extends 'movies/base.html' %}

{% block content %}
{% load static %}
<p>This is a page for choosing seat </p>

<div class="seatbg">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <!-- this is the seat_form passed into html -->
    <form action="" method="post">
        <div class="seatcontainer">
            <div class="cartandkey">
                <div class="ageandcartselect" style="display: inline-block;">
                    <a style="display:block;width: 200px;margin-top: 10px;" class="btn btn-primary" href="/cart" role="button">View
                        Cart</a>
                    {% csrf_token %}
                    <ul style="display:inline-block">
                        <br>
                        {% for x in form %}
                            {% if x == form.ticket_type %}
                                {% for b in form.ticket_type %}
                                {{ b }}
                                <br>
                                {% endfor %}
                            {% else %}
                            <li style="display: none"> {{ x }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="key">
                    <div class="keyseperator" style="display: block;">
                        <div class="keyseperator2" style="display: inline;">
                            <img class="seatpic" style="width: 100px;height: 100px;"
                                src="{% static 'movies/' %}cinemaseatwhite.png">
                            <p style="display: inline-block;">= Available Seat</p>
                        </div>
                        <div class="keyseperator2" style="display: inline;margin-left: 30px;">
                            <img class="seatpic" style="width: 100px;height: 100px;"
                                src="{% static 'movies/' %}cinemaseatgreen.png">
                            <p style="display: inline-block;">= Chosen seat</p>
                        </div>
                    </div>
                    <div class="keyseperator">
                        <div class="keyseperator2" style="display: inline;">
                            <img class="seatpic" style="width: 100px;height: 100px;"
                                src="{% static 'movies/' %}cinemaseatred.png">
                            <p style="display: inline-block;">= Unavailable Seat</p>
                        </div>
                        <div class="keyseperator2" style="display: inline;">
                            <img class="seatpic" style="width: 100px;height: 100px;"
                                src="{% static 'movies/' %}cinemaseatyellow.png">
                            <p style="display: inline-block;">= VIP seat</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class = "seatborder">
                <br>
            </div>
            <div class="seatsdisplay">
                <div class="screenforseat">
                    <div class="screenforseatinner">
                        <div class="screenword">SCREEN</div>
                    </div>
                </div>
                <br>
                {% for seats in seatlist %}
                {% if seats.status == 'X' %}
                <div class="seat" style="display:inline;">
                    <button disabled class="seatbutton" type="submit" name="seats" value="{{ seats.id }}">
                        <img class="seatpic" src="{% static 'movies/' %}cinemaseatred.png">
                    </button>
                </div>
                {% elif seats.status == '*' %}
                <div class="seat" style="display:inline;">
                    {% for t in tickets %}
                    {% if t.seat.id == seats.id %}
                    <a href="/remove_ticket/{{ showtime_id}}/ticket{{ t.id }}">
                        <img class="seatpic" src="{% static 'movies/' %}cinemaseatgreen.png">
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% elif seats.vip == 1 %}
                <div class="seat" style="display:inline;">
                    <button class="seatbutton" type="submit" name="seats" value="{{ seats.id }}">
                        <img class="seatpic" src="{% static 'movies/' %}cinemaseatyellow.png">
                    </button>
                </div>
                {% elif seats.status == 'O' %}
                <div class="seat" style="display:inline;">
                    <button class="seatbutton" type="submit" name="seats" value="{{ seats.id }}">
                        <img class="seatpic" src="{% static 'movies/' %}cinemaseatwhite.png">
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
{#        check if the user is staff#}
        {% if staff == True%}
            <input type="submit" name="pay_online" value="Pay Online"></input>
            <input type="submit" name="pay_by_cash_button" value="Pay by cash"></input>
        {% endif %}
    </form>
</div>

<style>

</style>

</html>
{% endblock %}
