{% extends 'users/base.html' %}

{% block content %}

</br>
</br>

<div class="container">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-lg-12 ">
            <h1 align="center">My Tickets:</h1>
            {% if user.is_authenticated %}
            


            <ol>
                {% for o in order reversed%}
                <li><div class="container">
                    <div class="card border-0 my-5"> <!-- display card formatting-->
                      <div class="card-body p-15">
                <p>Time of order : {{ o.date_created }} </p>

                    <ul>
                        {% for ticket in o.tickets.all %}
                        <li>{{ ticket.showtime }}</li>

                        {% if ticket.type == "ADULT" %}
                        For: Adult
                     {% endif %}
                     {% if ticket.type == "CHILD" %}
                     For: Child
                  {% endif %}
                  {% if ticket.type == "SENIOR" %}
                  For: Senior
               {% endif %}

                        {% endfor %}
                    </ul>
                    {% endfor %}
                </li>
            </ol>
            {% endif %}
        </div>
    </div>


</div>


{% endblock %}